<!-- # Mojia & Harshita
# final project
# alpha version
# Dec 14, 2017 -->

<!-- this page shows the user a list of questions and allow the user to select what questions to answer
we will inplement audio file system to record the answers -->
{% extends "layout_2.html" %}

{% block content %}
	<br><br>
	<div class='container' id='convo'>
			<div class="row">
			  <div class="col-lg-12 text-center">
			    <h4 class="section-heading"></h4>
			  </div>
			</div>
		<br><br>

		<div class="col-lg-12 text-center">
			<img src='../static/img/scott.png' height=200px>
		</div>

		<br><br>

		<div class="col-lg-7 text-center">
    	<button id="startRecordingButton" class="btn btn-primary"><i class="fa fa-microphone" aria-hidden="true"> </i> Start Recording</button>
		</div>

		<br><br><br>
		<div class="col-lg-12 text-center">
			<button type='submit' value ='Next' class="btn btn-primary" id='next'>Next</button>
		</div>

		<form method = "POST" action = "{{script}}" style='display:none'>
				<button type='submit' value ='Next' class="btn btn-primary" id='end'>End Conversation</button>
		</form>

	</div>

	<script>

    // this jquery script displays each question and changes after clicking on "next" button
		// get all questions from flask, mark it safe
		var questions = {{questions | safe}};
		var index = 0;
		$('h4').text(questions[index]);
		// change to next questions on click
		$('#next').click(function(){
			index++;
			$('h4').text(questions[index]);
			// make the "end conversation" button visible and hide the "next" button when it's the last question
			if (index === questions.length) {
				$('#end').attr('type', 'submit');
				$('#next').attr('style', 'display:none');
				$('form').attr('style', 'display:block');
			}
		});
	</script>

  <!-- add audio recording functionality using JS file-->
  <script src="../static/js/audio.js"> </script>

{% endblock %}
