<!-- # Mojia & Harshita
# final project
# alpha version
# Dec 14, 2017 -->

<!-- this page shows the user a list of questions and allow the user to select what questions to answer
we will inplement audio file system to record the answers -->
{% extends "layout_2.html" %}

{% block content %}
	<br><br>
	<div class='container' id='convo'>
			<div class="row">
			  <div class="col-lg-12 text-center">
			    <h4 class="section-heading"></h4>
			  </div>
			</div>
		<br><br>

		<div class="col-lg-12 text-center">
			<img src='../../static/img/scott.png' height=200px>
		</div>

		<br><br>

		<div >
			<h5 id="timer" class="col-lg-12 text-center"></h5>
		</div>

		<div class="col-lg-7 text-center">
    	<button id="startRecordingButton" class="btn btn-primary"><i class="fa fa-microphone" aria-hidden="true"> </i> Start Recording</button>
		</div>

		<br><br><br>
		<div class="col-lg-12 text-center">
			<button type='submit' value ='Next' class="btn btn-primary" id='next'>Next</button>
		</div>

		<form method = "POST" id='end_convo' action = "{{script}}" style='display:none'>
		<!-- <div id='end_convo' style='display:none'> -->
			 <button type='submit' value ='Next' class="btn btn-primary" id='end' >End Conversation</button>
		<!-- </div> -->
		</form>

	</div>


	<script>

    // this jquery script displays each question and changes after clicking on "next" button
		// get all questions from flask, mark it safe
		var questions = {{questions | safe}};
		var index = 0;
		$('h4').text(questions[index]);
		// change to next questions on click
		$('#next').click(function(){
			index++;
			$('h4').text(questions[index]);
			// make the "end conversation" button visible and hide the "next" button when it's the last question
			if (index === questions.length) {
				$('#end').attr('type', 'submit');
				$('#next').attr('style', 'display:none');
				$('#end_convo').attr('style', 'display:block');
			}
		});

		var start = new Date('00:00:00');
	// Update the count down every 1 second
		var timer = setInterval(function() {
			var now = new Date();
		  // Display the result in the element with id="demo"
			var min = now.getMinutes() - start.getMinutes();
			var sec = now.getSeconds() - start.getSeconds();
			min = (min.length === 1 ? '0' + min : min)
			sec.length === 1 ? sec = '0' + sec : sec = sec

		  $("#timer").html(min + ':' + sec);
		}, 1000);
	</script>

    <!-- add audio recording functionality using JS file-->
    <!-- <script src="../../static/js/audio.js" userId = {{userId}} convoID = {{convoId}}> </script> -->
		<script src="../../static/js/audio.js" categoryId = {{categoryId}}> </script>
{% endblock %}
