{% extends "layout_2.html" %}

{% block content %}

<br><br><br><br>

<h2> Congrats! You're done! </h2>

<h4> Here's how you're doing so far: </h4>

<ul>
  <li>Total Time Active: {{feedback['timeActive']}}</li>
  <li>Total Points: {{feedback['points']}}</li>
</ul>

<h4> Return to <i> topics </i> to pick a new conversation with Scott.ai, or logout of this session. </h4>

  <form method = "POST" action = "{{script}}">

<button type="submit" name = "submit" value = "topics" class="btn btn-primary">Return to Topics</button>
<button type="submit" name = "submit" value = "logout" class="btn btn-primary">Log Out</button>

{% endblock %}
