<!-- # Mojia & Harshita
# final project
# draft version
# Dec 3, 2017 -->
<!-- !!! this page is not fully implemented yet! -->
<!-- this page shows user the feedback after she completes a conversation with the AI -->

{% extends "layout_2.html" %}

{% block content %}

<div class='container' id='survey' >

<h2> Congrats! You're done! </h2>

<h4> Here's how you're doing so far: </h4>

<ul>
  <li>Total Time Active: {{feedback['timeActive']}}</li>
  <li>Total Points: {{feedback['points']}}</li>
</ul>

</div>
{% endblock %}
