{% extends index.html %}

    {% block content %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Dream of speaking like a native?</div>
          <div class="intro-heading">Scott.ai is your English teacher that focuses on helping you improve your speaking abilities.</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">GET STARTED</a>
          <p>Already talking to Scott? <span id='signin'>Sign in<span></p>
        </div>
      </div>
    </header>

    <section id="how_it_works">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">How it works?</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <p class="text-muted">Take online assessment survey</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
            </span>
            <p class="text-muted">Scott will make you a personalized plan</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-question fa-stack-1x fa-inverse"></i>
            </span>
            <p class="text-muted">Everyday, Scott will ask you questions</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
            </span>
            <p class="text-muted">Record to answer them</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
            <p class="text-muted">Scott will give you feedback to help you improve</p>
          </div>
        </div>
      </div>
    </section>

    <!-- signup -->
    <section class="bg-light" id="sign_up">
      <div class="container">
        <h2>Try it for free</h2>
        <p>Already taking to Scott? Sign in.</p>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">GET STARTED</a>
      </div>
    </section>
    {% endblock %}
