<!-- # Mojia & Harshita
# final project
# draft version
# Dec 3, 2017 -->
<!-- !!! this page is not fully implemented yet! -->
<!-- this page shows user's progress -->

{% extends "layout_2.html" %}

{% block content %}

<div class='container' id='feedback' >
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Progress</h2>
      </div>
    </div>
<h5> Total energy points: {{points}}</h5>
<br>
<h5> Conversations you have attended: </h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Topic</th>
      <th scope="col">Audio</th>
      <th scope="col">Feedback</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(data | length) %}
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>{{data[i]['categoryType']}}</td>
      <td>{{data[i]['audio']}}</td>
      <td>{{data[i]['feedback']}}</td>
      <td>
        <form method = "POST" action = "{{script}}">
          <input type='text' name='categoryId' style='display:none'>{{data[i]['categoryId']}}</input>

          <button type='submit' name="submit"class="btn btn-primary" value="delete">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}
