<!-- # Mojia & Harshita
# final project
# draft version
# Dec 3, 2017 -->
<!-- !!! this page is not fully implemented yet! -->
<!-- this page shows user's progress -->

{% extends "layout_2.html" %}

{% block content %}

<div class='container' id='feedback' >

<h2 class="section-heading text-uppercase"> Progress </h2>
<h4> Total energy points: {{points}}</h4>
<br>
<h4> Conversations you have attended: </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Topic</th>
      <th scope="col">Audio</th>
      <th scope="col">Feedback</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

</div>
{% endblock %}
