<!-- # Mojia & Harshita
# final project
# draft version
# Dec 14, 2017 -->

<!-- this file shows all the topics of conversation a user can choose from -->

{% extends "layout_2.html" %}

{% block content %}
<section id="how_it_works">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Select a Conversation Topic:</h2>
      </div>
    </div>

    <div class="row text-center">

        <div class="col-md-4 selection">
          <a href="{{ url_for('convo', id=1, convoId = {{convoId}}) }}">
            <span class="fa-stack fa-4x">
              <img src = "../static/img/school.jpg" height=150>
              <h4 class="text-muted">School</h4>
            </span>

          </a>
        </div>

        <div class="col-md-4 selection">
          <a href="{{ url_for('convo', id=3, convoId = {{convoId}}) }}">
            <span class="fa-stack fa-4x">
              <img src = "../static/img/hobby.jpg" height=150>
              <h4 class="text-muted">Hobbies</h4>
            </span>

          </a>
        </div>



        <div class="col-md-4 selection">
          <a href="{{ url_for('convo', id=2, convoId = {{convoId}}) }}">
            <span class="fa-stack fa-4x">
              <img src = "../static/img/food.jpg" height=150>
              <h4 class="text-muted">Food</h4>
            </span>

          </a>
        </div>
    </div>

    </div>
  </div>
</section>

{% endblock %}
