{% extends "layout_2.html" %}

{% block content %}
<div class='container' id='topic'>
  <a href="{{ url_for('convo', type='school') }}">
    <div class = 'topics'>

      <table>
        <tr>
          <td><img src = "../static/img/food.jpg" height=115px></td>
          <td><p>School</p></td>
        </tr>
      </table>
      
    </div>
  </a>
  <a href="{{ url_for('convo', type='hobby') }}">
    <div class = 'topics'>
      <img src = "../static/img/hobby.jpg" height=115px>
      <p>Hobby</p>
    </div>
  </a>
  <a href="{{ url_for('convo', type='food') }}">
    <div class = 'topics'>
      <img src = "../static/img/food.jpg" height=115px>
      <p>Food</p>
    </div>
  </a>
</div>

{% endblock %}
